# Compiled Python files.
*.pyc
*.pyo

# Vim and Emacs backup files.
*~
*.swp

# Directories resulting from use of virtualenv, pip and setuptools.
/bin
/build
/dist
/django_security.egg-info
/include
/lib

